body {
    background-color: #f8f9fa;
}

.card{
    
    margin-right: 20px;
}
.card-header {
    font-weight: bold;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card img {
    height: 300px;
    max-width: 200px;
    object-fit: cover;
}

.card-body {
    padding: 10px;
}

.card-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.card-text {
    font-size: 0.9rem;
    color: #28a745;
    font-weight: bold;
}

.product-name {
    margin: 0px;
}

.product-price {
    margin: 0px;
}

.product-size {
    margin: 5px;
}

.product-category{
    margin: 0px;

}
.product-details{
    margin: 3px;

}